.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

    .rateit .rateit-range {
        position: relative;
        display: -moz-inline-box;
        display: inline-block;
        background: url(star.gif);
        height: 16px;
        outline: none;
    }

        .rateit .rateit-range * {
            display: block;
        }

    /* for IE 6 */
    * html .rateit, * html .rateit .rateit-range {
        display: inline;
    }

        /* for IE 7 */
        * + html .rateit, * + html .rateit .rateit-range {
            display: inline;
        }

            .rateit .rateit-hover, .rateit .rateit-selected {
                position: absolute;
                left: 0;
                top: 0;
                width: 0;
            }

            .rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl {
                left: auto;
                right: 0;
            }

            .rateit .rateit-hover {
                background: url(star.gif) left -32px;
                color: rgb(239, 197, 41);
            }

            .rateit .rateit-hover-rtl {
                background-position: right -32px;
            }

            .rateit .rateit-selected {
                background: url(star.gif) left -16px;
                color: rgb(191,66,66);
            }

            .rateit .rateit-selected-rtl {
                background-position: right -16px;
            }

            .rateit .rateit-preset {
                background: url(star.gif) left -48px;
                color: rgb(239, 107, 34);
            }

            .rateit .rateit-preset-rtl {
                background: url(star.gif) left -48px;
            }

            .rateit button.rateit-reset {
                background: url(delete.gif) 0 0;
                width: 16px;
                height: 16px;
                display: -moz-inline-box;
                display: inline-block;
                float: left;
                outline: none;
                border: none;
                padding: 0;
            }

                .rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus {
                    background-position: 0 -16px;
                }


.rateit-font {
    font-size: 24px;
    line-height: 1em;
}

    .rateit-font .rateit-range {
        background: none;
        height: auto;
    }

    .rateit-font .rateit-empty {
        color: #ccc;
    }

    .rateit-font .rateit-range > div {
        background: none;
        overflow: hidden;
        cursor: default;
    }

.rateit.rateit-font .rateit-reset {
    background: none;
    color: red;
    height: auto; /* fixes IE rendering */
    width:auto; /* fixes some IE rendering */
}


.rateit-font .rateit-reset:before {
    content: "\2013";
    font-weight: bold;
    border-radius: 50%;
    display: inline-block;
    font-size: 14px;
    color: white;
    background: gray;
    width: 1em;
    height: 1em;
    line-height: 0.86em;
    text-align: center;
    margin-right: 4px;
    overflow: hidden;
    margin-top: 4px;
}

.rateit-font[dir=rtl] {
    margin-right:0;
    margin-left:4px;
}



.rateit-font .rateit-reset:hover:before {
    background: #e6574b; /* Old browsers */
    background: radial-gradient(ellipse at center, #e6574b 55%,#f6836b 77%,#f9d3cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
