div.rateit
{
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    
}

div.rateit div.rateit-range
{
    position: relative;
    display: inline-block;
    background: url(star.gif);
    height: 16px;
}


div.rateit div.rateit-hover, div.rateit div.rateit-selected
{
    position: absolute;
}

div.rateit div.rateit-hover
{
    background: url(star.gif) left -32px;
}

div.rateit div.rateit-hover-rtl
{
    background-position: right -32px;
}

div.rateit div.rateit-selected
{
    background: url(star.gif) left -16px;
}

div.rateit div.rateit-selected-rtl
{
    background-position: right -16px;
}


div.rateit div.rateit-reset
{
    background: url(delete.gif) 0 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    float: left;
}

div.rateit div.rateit-reset:hover
{
    background-position: 0 -16px;
}
